.highlight {
    background: linear-gradient(0deg, #ff08, #ff08);
}

.highlight1-32417, .highlight2-9c5d2 {
    box-shadow: inset 0 0 3px 3px #ff08 !important;
}

.locked{
    opacity: 0.5;
}

.destination {
    background-image: radial-gradient(#d1ae89 25%, transparent 28%);
}